##################  Swipe time from the record percessed by SNL programs ########################
record (longin, "HLS:PSS:Door$(doorNo):$(doorSide)CardReader:SwipeTime:longin") {
  field (DTYP, "S7RedundantPLC")
  field (INP,  "@$(plcname)/$(byte) T=INT32")
  field (SCAN, "I/O Intr")
}
