record (bi, "HLS:PSS:$(RBname):bi") {
  field (DTYP, "S7RedundantPLC")
  field (INP,  "@$(plcname)/$(byte) B=$(bit)")
  field (SCAN, "I/O Intr")
  field (ZNAM, "Not been Registered")
  field (ONAM, "$(RBname) is Registered")
}
